/* ---------- LIGHT ---------- */

:root{

--bg:#F4F7FB;

--surface:#FFFFFF;

--surface-light:#F8FAFC;

--surface-hover:#EEF2FF;

--primary:#6366F1;

--primary-light:#7C83FF;

--secondary:#8B5CF6;

--green:#22C55E;

--red:#EF4444;

--yellow:#F59E0B;

--text:#111827;

--text-light:#334155;

--text-muted:#64748B;

--border:#E6EAF2;

--glass:rgba(255,255,255,.72);

--shadow:
0 20px 50px rgba(15,23,42,.08);

--radius-xl:28px;

--radius-lg:22px;

--radius-md:18px;

--radius-sm:14px;

--transition:.35s cubic-bezier(.4,0,.2,1);

}

/* ---------- DARK ---------- */

.dark{

--bg:#09090B;

--surface:#111827;

--surface-light:#1E293B;

--surface-hover:#273549;

--primary:#7C83FF;

--primary-light:#9AA0FF;

--secondary:#A855F7;

--green:#22C55E;

--red:#EF4444;

--yellow:#F59E0B;

--text:#F8FAFC;

--text-light:#CBD5E1;

--text-muted:#94A3B8;

--border:rgba(255,255,255,.08);

--glass:rgba(17,24,39,.72);

--shadow:
0 20px 60px rgba(0,0,0,.35);

}